################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/Api/PersonalPlace.Application.Api.Host/bin
/Application/Api/PersonalPlace.Application.Api.Host/obj
/Application/Api/PersonalPlace.Application.Api.Services/bin
/Application/Api/PersonalPlace.Application.Api.Services/obj
/Application/Api/Tests/PersonalPlace.Application.Api.Tests/obj
/Domain/Base/PersonalPlace.Domain.Base/bin
/Domain/Base/PersonalPlace.Domain.Base/obj
/Domain/Base/PersonalPlace.Domain.Base.ORM/bin
/Domain/Base/PersonalPlace.Domain.Base.ORM/obj
/Domain/PersonalPlace.Domain.Common/bin
/Domain/PersonalPlace.Domain.Common/obj
/Domain/PersonalPlace.Domain.Contract/bin
/Domain/PersonalPlace.Domain.Contract/obj
/Domain/PersonalPlace.Domain.Entities/bin
/Domain/PersonalPlace.Domain.Entities/obj
/Domain/PersonalPlace.Domain.IoCM/bin
/Domain/PersonalPlace.Domain.IoCM/obj
/Domain/PersonalPlace.Domain.Queries/bin
/Domain/PersonalPlace.Domain.Queries/obj
/Domain/PersonalPlace.Domain.Validation/bin
/Domain/PersonalPlace.Domain.Validation/obj
/Domain/Tests/PersonalPlace.Domain.Tests.Entities/bin
/Domain/Tests/PersonalPlace.Domain.Tests.Entities/obj
/Infra/Crosscutting/Exceptions/Pactor.Infra.Crosscutting.Exceptions/bin
/Infra/Crosscutting/Exceptions/Pactor.Infra.Crosscutting.Exceptions/obj
/Infra/Crosscutting/IoC/Pactor.Infra.Crosscutting.IoC/bin
/Infra/Crosscutting/IoC/Pactor.Infra.Crosscutting.IoC/obj
/Infra/Crosscutting/IoC/Pactor.Infra.Crosscutting.IoCCore/bin
/Infra/Crosscutting/IoC/Pactor.Infra.Crosscutting.IoCCore/obj
/Infra/Crosscutting/IoC/Tests/Pactor.Infra.Crosscutting.IoC.Tests/obj
/Infra/Crosscutting/Log/Pactor.Infra.Crosscutting.Log/bin
/Infra/Crosscutting/Log/Pactor.Infra.Crosscutting.Log/obj
/Infra/Crosscutting/Log/Pactor.Infra.Crosscutting.LogCore/bin
/Infra/Crosscutting/Log/Pactor.Infra.Crosscutting.LogCore/obj
/Infra/Crosscutting/Log/Tests/Pactor.Infra.Crosscutting.Log.Tests/obj
/Infra/Crosscutting/ObjectMapper/Pactor.Infra.Crosscutting.ObjectMapper/bin
/Infra/Crosscutting/ObjectMapper/Pactor.Infra.Crosscutting.ObjectMapper/obj
/Infra/Crosscutting/Pactor.Infra.Crosscutting.IoCM/bin
/Infra/Crosscutting/Pactor.Infra.Crosscutting.IoCM/obj
/Infra/Crosscutting/Security/Pactor.Infra.Crosscutting.Security/bin
/Infra/Crosscutting/Security/Pactor.Infra.Crosscutting.Security/obj
/Infra/DAL/ORM/Pactor.Infra.DAL.ORM/bin
/Infra/DAL/ORM/Pactor.Infra.DAL.ORM/obj
/Infra/DAL/ORM/Pactor.Infra.DAL.ORM.Base/bin
/Infra/DAL/ORM/Pactor.Infra.DAL.ORM.Base/obj
/Infra/DAL/ORM/Pactor.Infra.DAL.ORM.Dapper/obj
/Infra/DAL/ORM/Pactor.Infra.DAL.ORM.IoCM/bin
/Infra/DAL/ORM/Pactor.Infra.DAL.ORM.IoCM/obj
/Infra/DAL/ORM/Pactor.Infra.DAL.ORM.NHibernate/bin
/Infra/DAL/ORM/Pactor.Infra.DAL.ORM.NHibernate/obj
/Infra/DAL/ORM/Pactor.Infra.DAL.ORM.NHibernateQuery/obj
/Infra/DAL/ORM/Tests/Pactor.Infra.DAL.ORM.Tests/.vs 
/Infra/DAL/ORM/Tests/Pactor.Infra.DAL.ORM.Tests/obj
/Infra/DAL/ORM/Tests/Pactor.Infra.DAL.ORM.Tests.Base/bin
/Infra/DAL/ORM/Tests/Pactor.Infra.DAL.ORM.Tests.Base/obj
/Infra/DAL/ORM/Tests/Pactor.Infra.DAL.ORM.Tests.Base/Data/PersonalPlaceDataSet.xsc
/Infra/DAL/ORM/Tests/Pactor.Infra.DAL.ORM.Tests.Base/Data/PersonalPlaceDataSet.xss
